<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr" version="3.4.1.9004" targetFramework="net462" />
  <package id="AutoMapper" version="6.1.1" targetFramework="net462" />
  <package id="EntityFramework" version="6.1.0" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net462" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net462" />
  <package id="Ninject" version="3.3.1" targetFramework="net462" />
  <package id="WebGrease" version="1.5.2" targetFramework="net462" />
</packages>