@model IEnumerable<PersonalBlog.Web.Models.BlogViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <h1>Blogs</h1>
        <hr />
        @foreach (var item in Model)
        {
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    
                    <a href="@Url.Action("Index", "Article", new { blogId = item.BlogId })">
                        <h2>@item.Title</h2>
                    </a>
                  
                    <hr/>
                    <h4>Articles: @item.ArticlesCount</h4>                               
                </div>
            </div>
        }
    </div>
</div>
