@model IEnumerable<PersonalBlog.Domain.DataTransferObjects.BlogDTO>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <h1>Blogs</h1>
        <hr />
        @foreach (var item in Model)
        {
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    
                    <a href="@Url.Action("Articles", "Blog", new { blogId = item.BlogId })">
                        <h2>@item.Title #@item.BlogId</h2>
                    </a>
                    <h2>Articles: @item.ArticlesCount</h2>
                    <hr/>
                    <p>Discription:@item.Description </p>                                 
                </div>
            </div>
        }
    </div>
</div>
