@model PersonalBlog.Web.Models.BlogViewModel

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <div class="row">
        <h1>Blogs</h1>
        <hr />
        @foreach (var item in Model.Blogs)
        {
            <div class="panel panel-default col-md-12">
                <div class="panel-body">
                    
                    <a href="@Url.Action("Articles", "Blog", item.Title)">
                        <h2>@item.Title</h2>
                    </a>
                    <hr />
                    <p>@item.Description</p>                                 
                </div>
            </div>
        }
    </div>
</div>
